body {
  border: 0;
  font-family: 'Dosis', 'Helvetica', sans-serif;
  font-weight:500;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  user-select: none;
  margin-top: 25px;
}

.wrapper {
  margin: auto;
  max-width: 600px;
  display: fixed;
}

.container {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
  width: auto;
  overflow-y: scroll;
  border-radius: 6px;
  user-select: none;
  background-color: #bad5f5;
  border: 2px solid #93c0f5;
  padding:10px;
  color:#09274a;
  margin-bottom:10px;
}
.container div{

}

#counter-fade{
  opacity:0.4;
  letter-spacing: 0.5px;
}
header {
  padding: 15px 36px;
}

main {
  width: 80%;
}

h4 {
  margin-top: 0px;
  margin-bottom:8px;
}

.tab {
  display: none;
}

.tab p {
  margin: 2px 0px;
}

.clicker {
  background-color: #c9f2de;
  width: auto;
  font-weight: 700;
  color: #1d3b2d;
  display: flex;
  padding: 0px;
  padding-top: 5px;
  height: 95px;
  overflow-x:scroll;
  border-radius: 6px;
  border: 2px solid #a0d3ba;
}

.clicker p {
  margin: 7px;
}

#message {
  font-weight: 500;
}
#newcell {
  width: 100px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: 0px 15px;
  margin-top: -4px;
}

#newcell:after,
#newcell:active {
  transform: scale(0.9);
}

header {
  background: #111;
  color: #eee;
  font-family: Consolas, monospace;
  padding-bottom: 5px;
}

table {
  border-collapse: collapse;
}

.cell-anim {
  width: 100px;
  animation-name: fade;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  position: relative;
  top: -80px;
  left: 50px;
  z-index: 100;
  overflow: visible;
  border-radius: 50px;
  color: #4a8a59;
  font-weight: 600;
}

@keyframes fade {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  to {
    margin-top: -30px;
    opacity: 0;
  }
}

.sidenav {
  width: 20%;
  z-index: 1;
  top: 70px;
  left: 0px;
  height: 200px;
  background: #fff9d1;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px solid #ffecb3;
  margin-right: 20px;
  border-radius: 6px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #7a644c;
  display: block;
  cursor: pointer;
  font-weight: 600;
}

.sidenav a:hover {
  color: #064579;
}

/* zebra stripes */
tr:nth-child(even) {
  background: #eee;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  font-weight: normal;
}

td:first-child {
  text-align: left;
}

.github-corner > svg {
  color: #111;
  fill: #fff;
  height: 64px;
  width: 64px;
}
button {
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 500;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:disabled {
  opacity: 0.4;
  filter: brightness(0.9);
}
button:hover {
  filter: brightness(0.9);
}

.blue {
  background-color: #4284d6;
  color: white;
}

.red {
  background-color: #d1494e;
  color: white;
}
#store {
  height: 450px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
  width: 325px;
  overflow-y: scroll;
  border-radius: 6px;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: #bad5f5;
  border: 2px solid #93c0f5;
}

.item {
  display: flex;
  background-color: white;
  color: #084085;
  width: 300px;
  justify-content: left;
  font-size: 14px;
  height: 75px;
  cursor: pointer;
  border-radius: 6px;
  margin: 0px 10px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.item:disabled {
  background-color: black;
}

.item-detail {
  width: 150px;
}
.owned {
  font-size: 40px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 12px;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px 15px;
  object-fit: contain;
}

h3 {
  margin: 5px 0px;
  font-size: 16px;
}
.item p {
  margin: 2px 0px;
}


#project-con{
  padding: 10px;
  max-height:400px;
}

.project{
  background-color:white;
  display:flex;
  border-radius:6px;
  padding:7px 0px;
  margin-bottom:8px;
  cursor:pointer;
}

.locked{
  opacity:0.3;
  cursor:not-allowed;
}

.project h3{
  font-weight: 500;
}

.project .name{
  font-weight: 700;
}

.project .details{
  margin-bottom:5px;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 500px;
  top:25px;
  background-color: #363636;
  border:2px solid #242424;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
}

@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 30px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}










#terminal{
  position:fixed;
  width:100%;
  height:70%;
  background-color:black;
  top:0px;
  left:0px;
  z-index:1000000;
  color:#73f340;
  font-family:'Inconsolata';
  padding:30px;
  cursor:wait;
  overflow-y: auto;
  padding-bottom:200px;
}

#terminal p{
  letter-spacing:1px;
  margin:2px 0px;
}

#terminal input{
  background-color:black;
  font-size:15px;
  outline:none;
  color:#73f340;
  font-family:'Inconsolata';
  border:none;
}
